/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

 make sure to set some focus styles for accessibility
:focus {
    outline: 0;
} 

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*///////////////////////////////////*reset.css-end//////////////////////////////////////*/

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body{
   max-width:1600px;
   font-family: 'Mulish', sans-serif;
   font-size: 18px;
   line-height: 1.2;
   font-weight: normal;
   color: rgba(125, 121, 135, 1);
   margin: 0 auto;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color:  rgba(0, 0, 0, 1);
    max-width: 470px;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    margin-top: 0;
    color: rgba(0, 0, 0, 1);
} 

h3 {
    font-weight: 700;
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
}

img {
 max-width: 100% ;
 height: auto;
}

/* header styles start */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .2s linear ;
    padding-bottom: 20px;
    z-index: 999;
    background-color: rgb(255, 255, 255);
}



.wrapper {
    max-width: 1247px;
    margin: 0 auto;
    padding: 0 15px;
}

.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 70px;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    }
.logo_t {
    display: flex;
    background-color: #458FF6;
    border-radius: 50%;
    height: 41px;
    width: 41px;
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.logo_text {
    display: flex;
    font-size: 24px;
    color: #233348;
    font-weight: 700;
    align-self: auto;
    margin-left: 12px;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
    }

.header_list li {
        display: inline;
        list-style-type: none;
        margin-right: 40px;
        font-size: 18px;
        
    }
.header_list li:last-child {
    margin-right: 0;
}

.article_top_nav {
    text-decoration: none;
    color: black;
    letter-spacing: .0.7em;
    transition: text-shadow .3s;
}

.article_top_nav:hover, .article_top_nav:focus, .article_top_nav:active {
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}

.header_burger {
    display: none;
    width: 45px;
    height: 40px;
    position: relative;
}

.burger_line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(31, 21, 52, 1);
    position: absolute;
    left: 0;
}

.burger_line_first {
    top: 0;
}

.burger_line_second {
    top: 50%;
    transform: translateY(-50%);
}

.burger_line_third {
    bottom: 0;
}

/* header styles end */

/* intro styles start */

.intro {
    margin-top: 177px; 
}

.intro_title {
    margin-bottom: 25px;
}

.intro_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

 .intro_text_desc {
    font-size: 21px;
    line-height: 32px;
    color:#7D7987;
    max-width: 450px;
    margin-bottom: 45px;
 }

 .intro_icon {
    max-width: 693px;  
 }
 
 .intro_text_button {
     display:flex ;
     background-color: #458FF6 ;
     border: 1.4px solid #458FF6;
     border-radius: 55px;
     height: 56px;
     width: 200px;
     color: #fff;
     font-size: 18px;
     font-weight: 700;
     align-items: center;
     justify-content: center;
 }

 .intro_text_button:hover, .intro_text_button:focus, .intro_text_button:active {
    background-color: #fff;
    color: #458FF6;
 }

    /* intro styles end */
    /* our services styles start */
 
    .our_services_content {
     display: flex;
     justify-content: space-between;
     flex-direction: column;
     align-items:center;
     margin-top: 192px;
 }

 .our_services_text {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 .our_services_title {
     margin-bottom: 26px;
 }

 .our_services_text_rectangle {
    background-color: black;
     width: 56px;
     height: 2px;
     margin-bottom: 33px;
 }

 .our_services_text_desc {
    display: flex;
    text-align: center;
    color: #7D7987;
    font-weight: 300;
    font-size: 18px;
    max-width: 952px;
 }

 .our_services_nav {
     display: flex;
     flex-wrap: wrap;
     justify-content:space-between;
     max-width: 1120px;
     margin-top: 80px;
 }
 .our_services_rectangle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 10px 40px 50px 0 rgba(229, 233, 246, 0.4);
    max-width: 350px;
    border-radius: 20px;
    margin-bottom: 37px;
    padding-left: 40px;
 }

 .our_services_icon_search {
    width: 92px;
    margin-bottom: 22px;
    margin-top: 53px;  
 }

 .our_services_icon_online {
    width: 62px;
    margin-bottom: 22px;
    margin-top: 62px;   
 }

 .our_services_icon_consultation {
    width: 68px; 
    margin-bottom: 22px;
    margin-top: 47px;  
 }

 .our_services_icon_info {
    width: 67px;
    margin-bottom: 22px; 
    margin-top: 48px;  
 }

 .our_services_icon_emergency {
    width: 80px; 
    margin-bottom: 30px;
    margin-top: 60px;  
 }

 .our_services_icon_tracking {
    width: 70px; 
    margin-bottom: 22px; 
    margin-top: 52px; 
 }


 .our_services_rectangle_text {
    display: flex;
    color: #7D7987;
    font-weight: 300;
    font-size: 16px;
    margin: 15px 45px 47px 0px;
    line-height: 28px;
 }

 .our_services_button {
    display:flex ;
    background-color: #ffffff ;
    border: 1.4px solid #458FF6;
    border-radius: 55px;
    height: 60px;
    width: 200px;
    margin-top: 33px;
    color: #458FF6;
    font-size: 18px;
    font-weight: 700;
    align-items: center;
    justify-content: space-evenly; 
 }
 
 .our_services_button:hover, .our_services_button:focus, .our_services_button:active {
    background-color: #458FF6;
    color: rgb(255, 255, 255);
 }

     /* our services styles end */
    /* leading styles start */

 .leading {
     display: flex;
     max-width: 1273px;
     justify-content: space-between;
     align-items: center;
     margin-top: 221px;
 }

 .leading_content {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }

 .leading_title {
     max-width: 481px;
     margin-bottom: 26px;
 }

 .leading_content_text {
     font-size: 18px;
     line-height: 30px;
     max-width: 440px;
     margin-bottom: 15px;
 }

 .leading_icon {
    max-width: 650px;
 }

.leading_button {
    display:flex ;
    background-color: #ffffff ;
    border: 1.4px solid #458FF6;
    border-radius: 55px;
    height: 60px;
    width: 200px;
    margin-top: 22px;
    color: #458FF6;
    font-size: 18px;
    font-weight: 700;
    align-items: center;
    justify-content: space-evenly; 
 }
 
 .leading_button:hover {
    background-color: #458FF6;
    color: rgb(255, 255, 255);
 }  

 /* leading styles end */
 /* download styles start */

 .download {
     display: flex;
     max-width: 1160px;
     align-items: center;
     justify-content:space-between;
     margin-top: 229px;
 }

 .download_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

 .download_title {
     max-width: 254px;
     margin-bottom: 30px;
 }

 .download_content_text {
    max-width: 420px;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
    margin-bottom: 18px;
 }

 .download_icon {
    max-width: 665px;
 }

 .arrow {
      width: 10px;
      height: 10px;
      border-top: 3px solid #458FF6;
      border-right: 3px solid #458FF6;
      transform: rotate(135deg);
  } 
  .arrow div {
    width: 50px;
    height: 10px;
    background-color: #458FF6;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    display: block; 
}
/* download styles end */
/* testimonials styles start */

.test {
  margin-top: 266px;
}



.testimonials_content {
    display: flex;
    background: linear-gradient(to bottom left , #67C3F3 0%, #5A98F2 100% );
    border-radius: 24px;
    color: #FFF;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}

.testimonials_content_title_and_trait {
    display: flex;
    max-width: 522px;
    flex-direction: column;
    align-items:center;
}

.testimonials_title {
    color:#FFF;
    margin-bottom: 25px;
    margin-top: 64px;

}

.testimonials_content_trait {
    background-color:#fff;
     width: 56px;
     height: 2px;
}

.testimonials_content_avatar_lable_text {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content:space-between;
    margin: 80px 30px;
    
}
.testimonials_avatar_and_lable {
    display: flex;
    margin-right: 110px;
    max-width: 355px;
    align-items: center;
    justify-content: space-between;   
}
.testimonials_avatar_lable {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonials_avatar_lable_name {
    font-weight: 700;
    font-size: 22px;
    line-height: 48px;
    margin: 0;
    width: 184px;
}

.testimonials_avatar_lable_appellation {
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    margin: 0;
    width: 124px;
}

.testimonials_content_text {
    display: flex;
    max-width: 420px;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    justify-content: center;
}

.testimonials_icon {
    width: 137px;
    margin-right: 35px;
}

.owl-theme .owl-dots .owl-dot {
    position: relative;
}
.owl-theme .owl-dots .owl-dot::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.owl-theme .owl-dots .owl-dot span {
    background: rgba(91, 155, 243, 1) !important;
    opacity: 0.3;
    

}

.owl-theme .owl-dots .owl-dot span:hover, .owl-theme .owl-dots .owl-dot span:focus, .owl-theme .owl-dots .owl-dot span:active, .owl-theme .owl-dots .owl-dot.active span {
    opacity: 1;
}
.owl-nav {
    position: relative;
    top: 23px;
 }

 .owl-prev {
     margin-right: 277px !important;
     color: rgba(69, 143, 246, 1) !important;
 }
 
 .owl-next {
    color: rgba(69, 143, 246, 1) !important;

}

.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: transparent !important;
}

.owl-theme .owl-nav [class*=owl-]:hover path {
    fill: rgba(69, 143, 246, 1);
    ;
}
 /* testimonials styles end */
 /* our_lates styles start */

.our_lates {
    display: flex;
    margin-top: 226px;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;

}
 .our_lates_title_and_trait {
    display: flex;
    max-width: 522px;
    flex-direction: column;
    align-items:center;
 }

 .our_lates_title {
    margin-bottom: 26px;
 }

 .our_lates_content {
     display: flex;
     max-width: 1120px;
     justify-content: space-between;
     margin-bottom: 36px;
 }

 .our_lates_content_previe {
    display: flex;
    background-color:#fff;
    box-shadow: 10px 40px 50px 0 rgba(229, 233, 246, 0.4);
    border-radius: 20px;
     max-width: 350px;
     flex-direction: column;
     align-items:center;
     margin-right: 34px;   
 }

 .our_lates_content_previe:last-child {
     margin-right: 0;
 }

 .our_lates_content_previe_image {
    border-radius: 20px 20px 0 0;
 }
 
 .our_lates_content_previe_content {
    display: flex;
    width: 251px;
    flex-direction: column;
    margin-bottom: 35px;
 }
 .our_lates_content_previe_title {
    width: 251px;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    color:#000 ;
    margin-top: 21px;
    margin-bottom: 12px;
 }
.our_lates_content_previe_button_and_vector {
    display: flex;
    align-items:center; 
}

.our_lates_content_previe_text {
    max-width: 266px;
    margin-bottom: 25px;
}

.our_lates_content_previe_button {
    display: flex;
    color: #4089ED;
    width: 100px;
    height: 28px;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
}

.our_lates_more {
    text-decoration: none;
    color: #4089ED;
}
.our_lates_more:hover {
    color: black;
}

 /* our_lates styles end */
 /* footer styles start */

footer {
    display: flex;
    background: linear-gradient(to bottom left , #67C3F3 0%, #5A98F2 100% );
    max-width: 100%;
    margin-top: 201px;
    justify-content: space-around;
    align-items: center;
    padding-top: 123px;
    padding-bottom: 113px;
}

.trafalgar_info {
    display: flex;
    max-width: 391px;
    flex-direction: column;
}


.footer_logo_t {
    display: flex;
    background-color: #ffffff;
    border-radius: 50%;
    height: 41px;
    width: 41px;
    color:#5B9BF3;
    font-size: 26px;
    font-weight: 700;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.footer_logo_text {
    display: flex;
    font-size: 24px;
    color: #ffffff;
    font-weight: 700;
    align-self: auto;
    margin-left: 12px;
    
}

.trafalgar_info_text {
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
    line-height: 28px;
    margin-top: 17px;
    margin-bottom: 30px;
}

.trafalgar_info_desc {
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
    line-height: 28px;
}
.footer_content {
    display: flex;
    
}

.footer_nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin-right: 170px;
}

.footer_nav li {
    list-style-type: none; 
}
.footer_nav_bold {
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
}

/* media start */

@media (max-width: 1024px){
     .intro_icon {
         max-width: 490px;
     }
     h1 {
         font-size: 35px;
         max-width: 350px;
     }
     h2 {
         font-size: 28px;
     }
     .our_services_content {
         margin-top: 160px;
     }
     .our_services_nav {
         margin-top: 50px;
     }
     .our_services_rectangle {
         max-width: 300px;
     }
     .leading {
         margin-top: 150px;
     }
    .leading_icon {
        max-width: 450px;
    }
    .download {
        margin-top: 150px;
    }
    .download_icon {
        max-width: 450px;
    }
    .test {
        margin-top: 180px;
    }
    .our_lates {
        margin-top: 180px;
    }
    .our_lates_content_previe {
        max-width: 290px;
    }
    .our_lates_content_previe_title {
        font-size: 95%;
    }
    .our_lates_content_previe_content {
        margin-bottom: 25px;
    }
    footer {
        margin-top: 150px;
        padding: 100px 15px 90px 15px;
        
    }
    .footer_nav {
        margin-right: 110px;
    }
    .footer_nav:last-child {
        margin-right: 0;
    }

}

@media (max-width: 768px) {
   .header_burger {
       display: block;
   }
   .top_nav {
       width: 45%;
       height: 100%;
       position: fixed;
       top: 0;
       right: 0;
       background-color: rgb(108, 166, 248);
       ;
       z-index: 10;
       padding: 75px;
       transform: translateX(100%);
       transition: .2s all linear;
   }
   .top_nav_active {
    transform: translateX(0);
   }
   .header_item {
       width: 100%;
       margin-right: 0 !important;
       margin-bottom: 30px;
   }
    
   .header_item:last-child {
       margin-bottom: 0;
   }

   .article_top_nav {
       font-size: 32px;
       line-height: 42px;
   }
    
   .header_nav-close {
       width: 40px;
       height: 40px;
       position: absolute;
       top: 20px;
       right: 20px;
       z-index: 11;
   }
   .header_nav-close-line {
       display: block;
       width: 100%;
       height: 2px;
       background-color: #fff;
       position: absolute;
       top: 50%;
   }
   .header_nav-close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
   }
   .header_nav-close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
   }
   .intro_icon {
       max-width: 400px;
   }
   .intro_text_button {
    width: 160px;
    height: 50px;
    border-radius: 45px;
    font-size: 15px;
    }
   .wrapper_media {
       max-width: 300px ;
   }
   h1 {
       font-size: 28px;
   }
   h2 {
       font-size: 25px;
   }
   h3 {
       font-size: 21px;
   }
   .intro_text_desc {
       font-size: 18px;
       line-height: 27px;
   }
   .our_services_rectangle img {
       max-width: 55px;
       margin-top: 35px;
   }
   .our_services_icon_search, .our_services_icon_emergency {
       max-width: 70px !important;
       margin-bottom: 35px;
   }
   .our_services_rectangle_text {
       margin-bottom: 35px;
       font-size: 14px;
       line-height: 23px;
   }
   .our_services_button {
       margin-top: 20px;
       width: 160px;
       height: 50px;
       border-radius: 45px;
       font-size: 15px;
   }
   
   .our_services_content {
       margin-top: 110px;
   }
   .our_services_nav {
       display: flex;
       margin-top: 40px;
       justify-content:space-evenly;
   }
   .our_services_text_rectangle {
      margin-bottom: 20px;
   }
   .leading, .download {
       margin-top: 100px;
   }
   .leading_content, .download_content {
       max-width: 250px;
   }
   .leading_content_text {
       font-size: 16px;
       line-height: 23px;
   }
   .leading_button {
    margin-top: 20px;
    width: 160px;
    height: 50px;
    border-radius: 45px;
    font-size: 15px;
   }
   .download_content_text {
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 15px;
   }
   .download_icon {
       max-width: 480px;
   }
   .test {
       margin-top: 120px;
   }
   .testimonials_title {
       margin-top: 20px;
   }
   .testimonials_content_text {
       max-width: 360px;
       font-size: 16px;
       line-height: 25px;
   }
   .testimonials_content_avatar_lable_text {
       margin: 35px 15px;
   }
   .testimonials_content_avatar_lable  {
    font-size: 18px;
    }
    .testimonials_icon{
        max-width: 100px;
        margin-right: 15px;
    }
    .testimonials_avatar_and_lable {
        margin-right: 0;
    }
    .testimonials_avatar_lable p {
        font-size: 90%;
        line-height: 30px;
    }
    .our_lates {
        margin-top: 100px;
    }
   .our_lates_content_previe {
       margin-right: 15px;
       max-width: 220px;
   }
   .our_lates_content_previe_content {
       max-width: 190px;
       margin-bottom: 18px;
   }
   .our_lates_content_previe_title {
       max-width: 100%;
       font-size: 19px;
       line-height: 23px;
       margin-top: 15px;
   }
   .our_lates_content_previe_text {
        font-size: 16px;
        margin-bottom: 18px;
   }
   .indent {
       margin-bottom: 30px;
   }
   footer {
       margin-top: 100px;
       padding: 70px 15px;
   }
   .footer_nav {
       margin-right: 60px;
   }
   .trafalgar_info {
       max-width: 300px;
   }
   .trafalgar_info_text {
       font-size: 16px;
       margin-top: 25px;
   }
   .trafalgar_info_desc {
    font-size: 14px;
    }
    .footer_nav_bold {
        font-size: 16px;
    }
    .footer_nav ul li {
        font-size: 14px;
    }
}

@media (max-width: 425px) {
    .header_wrapper {
        padding-top: 30px;
    }
    .intro {
        margin-top: 130px;
    }
    .header_burger {
        width: 30px;
        height: 25px;
    }
    .top_nav {
        width: 60%;
    }
    .top_nav_active {
        padding: 60px 25px;
    }
    h1 {
        font-size: 24px;
        margin-bottom: 18px !important;
    }
    h2 {
        font-size: 18px;
        margin-bottom: 18px !important;
    }
    h3 {
        font-size: 18px;
    }
    .intro_text_desc {
        font-size: 14px;
        line-height: 20px;
        max-width: 155px;
    }
    .intro_text_button {
        width: 120px;
        height: 35px;
        border-radius: 45px;
        font-size: 14px;
    }
    .intro_icon {
        max-width: 230px;
    }
    .our_services_content {
        margin-top: 70px;
    }
    .our_services_text_desc {
        font-size: 14px;
    }
    .our_services_nav {
        margin-top: 25px;
    }
    .our_services_rectangle {
        max-width: 250px;
        margin-bottom: 25px;
    }
    .our_services_rectangle_text {
        margin-bottom: 20px;
    }
    .our_services_rectangle img {
        max-width: 40px;
        margin: 20px 0;
    }
    .our_services_icon_search, .our_services_icon_emergency {
        max-width: 50px !important;
    }
    .our_services_button {
        width: 150px;
        height: 40px;
        border-radius: 45px;
        font-size: 14px;
        margin-top: 0;
    }
    .leading_icon {
        max-width: 220px;
        margin-right: 15px;
    }
    .leading_content_text, .download_content_text {
        font-size: 14px;
        line-height: 20px;
        max-width: 100%;
    }
    .leading_button {
        width: 150px;
        height: 40px;
        border-radius: 45px;
        font-size: 14px;
        margin-top: 0;
    }
    .download_icon {
        max-width: 220px;
        margin-left: 15px;
    }
    .test {
        margin-top: 100px;
    }
    .testimonials_content_avatar_lable_text {
        display: inline;
        margin: 25px 15px 25px 25px;
    }
    .testimonials_avatar_and_lable {
        justify-content:flex-start;
    }
    .testimonials_content_text {
        font-size: 14px;
        margin-top: 10px;
        line-height: 20px;
    }
    .our_lates_content {
        display: inline;
        margin-bottom: 20px;
    }
    .our_lates_content_previe {
        margin: 5px 0 20px 0;
    }
    .our_lates_content_previe_title {
        font-size: 18px;
        line-height: 22px;
        margin: 10px 0;
    }
    .our_lates_content_previe_text {
        font-size: 14px;
    }
    footer {
        flex-direction: column;
    }
    .trafalgar_info {
        margin-bottom: 15px;
    }
}

@media (max-width: 375px) {
    .intro_wrapper {
        flex-direction: column;
    }
    .intro_icon {
        order: -1;
        margin-bottom: 15px;
    }
    
    .wrapper_media {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        align-items: center;
    }
    .intro_text_desc {
        max-width: 100%;
        margin-bottom: 25px;
    }
    .leading, .download {
        flex-direction: column;
        margin-top: 90px;
    }
    .leading_icon {
        margin-bottom: 15px;
    }
    .leading_content, .download_content {
        max-width: 280px;
        align-items: center;
    }
    .leading_content_text {
        margin-bottom: 25px;
    }
    .download_icon {
        order: -1;
        margin-bottom: 15px;
    }
    .owl-prev {
        margin-right: 150px !important;
    }
     .owl-nav {
        top:28px;
    }
}

@media (max-width: 320px) {
    .footer_nav {
        margin-right: 20px;
    }
    .article_top_nav {
        font-size: 20px;
    }
}